---
import PostLayout from '../../layouts/PostLayout.astro';
---

<PostLayout title="关于我">
  <blockquote>Hello 陌生人，欢迎访问 makoMakoGo&apos;s Blog</blockquote>
  <h2>About Me</h2>
  <p>🎓 毕业于 <strong>清华大学 (THU)</strong></p>
  <p>🌱 目前就读于 <strong>中国科学院大学 (UCAS)</strong></p>
  <p>🔭 梦想成为一名 <strong>博物学家</strong></p>
  <p>❤️ 爱好：<strong>数学</strong>、<strong>编程</strong>、<strong>跑步</strong></p>
  <p>🦖 趣事：我喜欢 <strong>恐龙</strong> 和 <strong>鱼</strong>！</p>
  <h2>Tech Stack</h2>
  <p>Python, MATLAB, Haskell, Go, LaTeX, VSCode, Git, Linux, Docker, Bash, Cloudflare, Deno, HTML, CSS, PyTorch</p>
  <h2>联系我</h2>
  <ul>
    <li>GitHub: <a href="https://github.com/makoMakoGo">makoMakoGo</a></li>
    <li>Bilibili: <a href="https://space.bilibili.com/403214142">makoMakoGo</a></li>
  </ul>
</PostLayout>
